// SEO SETUP ///////////////////////////////////////

// Meta Tag
meta(name='keywords', content=webpackConfig.metadata.keywords)
meta(name='description', content=webpackConfig.metadata.description)
meta(name='robots', content='noindex, nofollow')
meta(name='apple-itunes-app', content='app-id='+webpackConfig.metadata.seo.app_appleID)

// SEO MAP
meta(name='DC.title', content=webpackConfig.metadata.title)
meta(name='geo.region', content=webpackConfig.metadata.seoseo_geo)
meta(name='geo.placename', content=webpackConfig.metadata.name)
meta(name='geo.position', content=webpackConfig.metadata.seo.seo_geo_lng +';'+ webpackConfig.metadata.seo.seo_geo_dlg)
meta(name='ICBM', content=webpackConfig.metadata.seo.seo_geo_lng+';'+webpackConfig.metadata.seo.seo_geo_dlg)
// SEO
meta(name='author', content=webpackConfig.metadata.author)
link(rel='canonical', href='//'+webpackConfig.metadata.url+'/')
// Social: Twitter
meta(name='twitter:card', content=webpackConfig.metadata.title)
meta(name='twitter:site', content='@'+webpackConfig.metadata.url)
meta(name='twitter:creator', content='@'+webpackConfig.metadata.author)
meta(name='twitter:title', content=webpackConfig.metadata.title)
meta(name='twitter:description', content=webpackConfig.metadata.description)
meta(name='twitter:image:src', content='//'+webpackConfig.metadata.url+'/'+webpackConfig.metadata.icon)
// Social: Facebook / Open Graph
meta(property='fb:admins', content=webpackConfig.metadata.seo.app_facebook_adminsID)
meta(property='fb:app_id', content=webpackConfig.metadata.seo.app_facebook_ID)
meta(property='og:url', content='//'+webpackConfig.metadata.url+'/')
meta(property='og:type', content='article')
meta(property='og:title', content=webpackConfig.metadata.title)
meta(property='og:image', content='//'+webpackConfig.metadata.url+'/'+webpackConfig.metadata.icon)
meta(property='og:description', content=webpackConfig.metadata.description)
meta(property='og:site_name', content=webpackConfig.metadata.name)
meta(property='article:author', content='//www.facebook.com/'+webpackConfig.metadata.url)
meta(property='article:publisher', content='//www.facebook.com/'+webpackConfig.metadata.url)
// Social: Google+ / Schema.org
link(rel='author', href='//plus.google.com/+'+webpackConfig.metadata.url+'/')
link(rel='publisher', href='//plus.google.com/+'+webpackConfig.metadata.url+'/')
meta(itemprop='name', content=webpackConfig.metadata.name)
meta(itemprop='description', content=webpackConfig.metadata.description)
meta(itemprop='image', content='//'+webpackConfig.metadata.url+'/'+webpackConfig.metadata.icon)
// Meta Tag Search
link(rel='search', type='application/opensearchdescription+xml', title=webpackConfig.metadata.name+' Search', href='//'+webpackConfig.metadata.url+'/SearchEngineInfo.xml')
meta(name='robots', content='index, follow')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-title', content=webpackConfig.metadata.description)
link(rel='alternate', hreflang='x-default', href='//'+webpackConfig.metadata.url+'/')
link(rel='alternate', hreflang='vi-VN', href='//'+webpackConfig.metadata.url+'/')
// END SEO SETUP ///////////////////////////////////////
