//- https://codepen.io/agirton/pen/oivbw
//- http://codepen.io/danest/pen/GxfqB/
//- https://codepen.io/micjamking/pen/neldj
//- https://codepen.io/jackrugile/pen/CdKiL
//- https://codepen.io/scrapmac/pen/opkgy
//- https://codepen.io/Vidy/pen/KyqHn

//- https://cdn.materialdesignicons.com/1.6.50/
nav.menuleft.flex.flex-col([ngClass]="{active: NAV_isGlobalCollapsed}")
	.flex.flex-col.mrb-3r
		accordion([closeOthers]='NAV_oneAtATime')
			.header
				.app-icon((click)="NAV_isGlobalCollapsed = !NAV_isGlobalCollapsed", [innerHTML]="BN_ICON")
				span {{ 'BN_TitleMenu' | translate }}
				em.mdi.mdi-close((click)="NAV_isGlobalCollapsed = !NAV_isGlobalCollapsed")
			accordion-group(#dashboard='', [isOpen]='status.open')
				div(accordion-heading)
					.title
						i.mdi.mdi-message-reply
						span {{ 'BN_Dashboard' | translate }}
						em.pull-right.icon([ngClass]="{'ion-android-arrow-dropup': dashboard?.isOpen, 'ion-android-arrow-dropdown': !dashboard?.isOpen}")
				.content
					ul.nav
						li.nav-item
							a.nav-link(href="javascript:void(0);") 
								i.icon.ion-monitor
								span Home  
						li.nav-item
							a.nav-link(href="javascript:void(0);") 
								i.icon.ion-monitor
								span About  
						li.nav-item
							a.nav-link(href="javascript:void(0);") 
								i.icon.ion-monitor
								span Home  
						li.nav-item
							a.nav-link(href="javascript:void(0);") 
								i.icon.ion-monitor
								span About
			accordion-group
				div(accordion-heading)
					.title
						i.icon.ion-android-calendar
						span {{ 'BN_Booking' | translate }}
						| 
						.label.label-pill.label-danger 09
				.content
					ul.nav
						li.nav-item
							a.nav-link(href="javascript:void(0);") 
								i.icon.ion-monitor
								span Home  
						li.nav-item
							a.nav-link(href="javascript:void(0);") 
								i.icon.ion-monitor
								span About
						li.nav-item
							a.nav-link(href="javascript:void(0);") 
								i.icon.ion-monitor
								span Home  
						li.nav-item
							a.nav-link(href="javascript:void(0);") 
								i.icon.ion-monitor
								span About  
			accordion-group
				div(accordion-heading='fg')
					.title
						i.icon.ion-ios-pulse-strong
						span {{ 'BN_Livefxrates' | translate }}
			accordion-group
				div(accordion-heading)
					.title
						i.icon.ion-arrow-graph-up-right
						span {{ 'BN_MyRates' | translate }}
			accordion-group(#settings='', [isOpen]='status.open')
				div(accordion-heading)
					.title
						i.icon.ion-android-options
						span {{ 'BN_Setting' | translate }}
						em.pull-right.icon([ngClass]="{'ion-android-arrow-dropup': settings?.isOpen, 'ion-android-arrow-dropdown': !settings?.isOpen}")
				.content
					ul.nav
						li.nav-item
							a.nav-link(href="javascript:void(0);") 
								i.icon.ion-monitor
								span Home  
						li.nav-item
							a.nav-link(href="javascript:void(0);") 
								i.icon.ion-monitor
								span About 
						li.nav-item
							a.nav-link(href="javascript:void(0);") 
								i.icon.ion-monitor
								span Home  
						li.nav-item
							a.nav-link(href="javascript:void(0);") 
								i.icon.ion-monitor
								span About 
			accordion-group(#yourAccount='', [isOpen]='status.open')
				div(accordion-heading)
					.title
						i.icon.ion-person
						span Bao Nguyen
						em.pull-right.icon([ngClass]="{'ion-android-arrow-dropup': yourAccount?.isOpen, 'ion-android-arrow-dropdown': !yourAccount?.isOpen}")
				.content
					ul.nav
						li.nav-item
							a.nav-link(href="javascript:void(0);") 
								i.icon.ion-ios-locked
								span {{ 'BN_Editpassword' | translate }}
						li.nav-item
							a.nav-link(href="javascript:void(0);") 
								i.icon.ion-gear-b
								span {{ 'BN_Changesetting' | translate }}
						li.nav-item
							a.nav-link(href="javascript:void(0);") 
								i.icon.ion-reply
								span {{ 'BN_Logout' | translate }}
		.layout
			accordion([closeOthers]='NAV_oneAtATime')
				.headersub
					i.mdi.mdi-monitor
					span {{ 'BN_LayoutSetting' | translate }}
				accordion-group(#layouts='', [isOpen]='status.open')
					div(accordion-heading)
						.title
							i.icon.ion-ios-list
							span {{ 'BN_Navigation' | translate }}
							em.pull-right.icon([ngClass]="{'ion-android-arrow-dropup': layouts?.isOpen, 'ion-android-arrow-dropdown': !layouts?.isOpen}")
					.content
						ul.nav
							li.nav-item(*ngFor='let item of layout')
								.nav-link(*ngIf="item.mobile")
									label.c-input.c-radio
										input(id="menu{{item.val}}", type='radio', name='menuLayout', [value]="item.val", (change)='onChangeLayout($event.target.value)', [checked]='setClasses==item.val')
										span.c-indicator
										span {{item.type}}
								.nav-link.hidden-sm-down(*ngIf="!item.mobile")
									label.c-input.c-radio
										input(id="menu{{item.val}}", type='radio', name='menuLayout', [value]="item.val", (change)='onChangeLayout($event.target.value)', [checked]='setClasses==item.val')
										span.c-indicator
										span {{item.type}}  
				accordion-group(#fonts='', [isOpen]='status.open')
					div(accordion-heading)
						.title
							i.icon.ion-ios-at
							span {{ 'BN_Fonts' | translate }}
							em.pull-right.icon([ngClass]="{'ion-android-arrow-dropup': fonts?.isOpen, 'ion-android-arrow-dropdown': !fonts?.isOpen}")
					.content
						ul.nav
							li.nav-item(*ngFor='let item of font')
								.nav-link
									label.c-input.c-radio
										input(id="font{{item.val}}", type='radio', name='fontLayout', [value]="item.val", (change)='onChangeFont($event.target.value)', [checked]='setFonts==item.val')
										span.c-indicator
										span {{item.type}}
	.flex.flex-col.version.text-sm {{ 'BN_Version' | translate }}